Repository amosproj/amos2021ws05-fin-prod-port-quick-check, pull requests merged in 2021-11, with the labels that each got.

#34 Setup Backend REST API
  docker-compose.yml
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/HelloWorldController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/LoginController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/LogoutController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/ProjectsController.java
  service/src/main/java/com/tu/FinancialQuickCheck/ProjectsController.java
  service/src/main/resources/contract.yaml
Labels: type: infrastructure, status: in progress

#57 Create React Project
  frontend/prototype/5072150_400.png
  frontend/prototype/bearingpoint_default_preview-2019.jpg
  frontend/prototype/folie3.html
  frontend/prototype/index.html
  frontend/prototype/start.html
  frontend/prototype/stylesAMOS.css
  frontend/quickcheck/.gitignore
  frontend/quickcheck/README.md
  frontend/quickcheck/package-lock.json
  frontend/quickcheck/package.json
  frontend/quickcheck/public/favicon.ico
  frontend/quickcheck/public/index.html
  frontend/quickcheck/public/logo192.png
  frontend/quickcheck/public/logo512.png
  frontend/quickcheck/public/manifest.json
  frontend/quickcheck/public/robots.txt
  frontend/quickcheck/src/App.css
  frontend/quickcheck/src/App.js
  frontend/quickcheck/src/App.test.js
  frontend/quickcheck/src/index.css
  frontend/quickcheck/src/index.js
  frontend/quickcheck/src/logo.svg
  frontend/quickcheck/src/reportWebVitals.js
  frontend/quickcheck/src/setupTests.js
  frontend/quickcheck/yarn.lock
Labels: frontend

#58 UI: project overview
  docker-compose.yml
  frontend/Dockerfile
  frontend/quickcheck/package.json
  frontend/quickcheck/src/App.css
  frontend/quickcheck/src/App.js
  frontend/quickcheck/src/App.test.js
  frontend/quickcheck/src/components/Menubar.jsx
  frontend/quickcheck/src/components/card.jsx
  frontend/quickcheck/src/components/nav_bar.jsx
  frontend/quickcheck/src/index.css
  frontend/quickcheck/src/index.js
  frontend/quickcheck/src/logo.svg
  frontend/quickcheck/src/pages/Login.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/reportWebVitals.js
  frontend/quickcheck/src/setupTests.js
  frontend/quickcheck/yarn.lock
Labels: type: feature, frontend

#73 Product Overview
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/ProductController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Service/ProductService.java
  service/src/main/java/com/tu/FinancialQuickCheck/db/ProductEntity.java
  service/src/main/java/com/tu/FinancialQuickCheck/dto/ProductDto.java
Labels: backend

#69 UI: Project overview
  docker-compose.yml
  frontend/quickcheck/.prettierrc
  frontend/quickcheck/package-lock.json
  frontend/quickcheck/package.json
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/components/Menubar.jsx
  frontend/quickcheck/src/components/card.jsx
  frontend/quickcheck/src/components/nav_bar.jsx
  frontend/quickcheck/src/index.js
  frontend/quickcheck/src/pages/Login.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/utils/apiClient.js
  frontend/quickcheck/yarn.lock
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/ProjectController.java
Labels: frontend
