Repository amosproj/amos2021ws05-fin-prod-port-quick-check, pull requests merged in 2021-12, with the labels that each got.

#70 UI: functional project page
  frontend/quickcheck/package.json
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/components/Card.jsx
  frontend/quickcheck/src/components/Inputs.jsx
  frontend/quickcheck/src/components/MemberTable.jsx
  frontend/quickcheck/src/components/Page.jsx
  frontend/quickcheck/src/components/ProjectAreaCard.jsx
  frontend/quickcheck/src/components/editable.jsx
  frontend/quickcheck/src/pages/Project.jsx
  frontend/quickcheck/src/pages/ProjectManage.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/tmp_proj.jsx
  frontend/quickcheck/src/utils/const.js
  frontend/quickcheck/yarn.lock
Labels: frontend

#133 UI: Add state management
  frontend/quickcheck/package-lock.json
  frontend/quickcheck/package.json
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/index.js
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/TestRange.jsx
  frontend/quickcheck/src/store.js
  frontend/quickcheck/yarn.lock
Labels: frontend, Ready for Review

#135 UI: Add custom theme
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/components/Card.jsx
  frontend/quickcheck/src/components/ColorModeSwitcher.js
  frontend/quickcheck/src/components/MemberTable.jsx
  frontend/quickcheck/src/components/Page.jsx
  frontend/quickcheck/src/components/ProjectAreaCard.jsx
  frontend/quickcheck/src/pages/Login.jsx
  frontend/quickcheck/src/pages/Project.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/TestRange.jsx
  frontend/quickcheck/src/store.js
  frontend/quickcheck/src/styles/Button.js
  frontend/quickcheck/src/styles/Text.js
  frontend/quickcheck/src/styles/layerStyles.js
  frontend/quickcheck/src/styles/theme.js
Labels: type: feature, frontend, Ready for Review

#140 implemented deleteProjectUser
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/ProjectUserController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Service/ProjectUserService.java
  service/src/main/java/com/tu/FinancialQuickCheck/db/ProjectUserRepository.java
Labels: type: feature, backend

#150 UI: refactor frontend components
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/components/Card.jsx
  frontend/quickcheck/src/components/ConfirmClick.jsx
  frontend/quickcheck/src/components/Inputs.jsx
  frontend/quickcheck/src/components/MemberTable.jsx
  frontend/quickcheck/src/components/ProjectAreaCard.jsx
  frontend/quickcheck/src/components/Selection.jsx
  frontend/quickcheck/src/components/editable.jsx
  frontend/quickcheck/src/pages/ProjectManage.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/TestRange.jsx
  frontend/quickcheck/src/pages/projectPage/AddAreaButton.jsx
  frontend/quickcheck/src/pages/projectPage/AddMemberButton.jsx
  frontend/quickcheck/src/pages/projectPage/MemberTable.jsx
  frontend/quickcheck/src/pages/projectPage/Page.jsx
  frontend/quickcheck/src/pages/projectPage/ProjectAreaList.jsx
  frontend/quickcheck/src/pages/tmp_proj.jsx
  frontend/quickcheck/src/styles/Button.js
  frontend/quickcheck/src/styles/Heading.js
  frontend/quickcheck/src/styles/Input.js
  frontend/quickcheck/src/styles/Text.js
  frontend/quickcheck/src/styles/theme.js
Labels: frontend, Ready for Review

#151 UI: stateful project overview
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/projectPage/Page.jsx
  frontend/quickcheck/src/store.js
Labels: frontend, Ready for Review

#153 UI: stateful project manage page
  frontend/quickcheck/src/components/Selection.jsx
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/projectPage/AddAreaButton.jsx
  frontend/quickcheck/src/pages/projectPage/MemberTable.jsx
  frontend/quickcheck/src/pages/projectPage/Page.jsx
  frontend/quickcheck/src/pages/projectPage/ProjectAreaList.jsx
  frontend/quickcheck/src/store.js
Labels: frontend, Ready for Review
