Repository amosproj/amos2021ws05-fin-prod-port-quick-check, pull requests merged in 2022-01, with the labels that each got.

#71 UI: product area / product overview page
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/pages/productAreaPage/Page.jsx
  frontend/quickcheck/src/pages/productAreaPage/ProductRow.jsx
  frontend/quickcheck/src/pages/projectPage/MemberTable.jsx
  frontend/quickcheck/src/pages/ratingPage/Rating.jsx
  frontend/quickcheck/src/pages/ratingPage/RatingTable.jsx
  frontend/quickcheck/src/store.js
Labels: frontend, Ready for Review

#163 UI/result page
  frontend/quickcheck/package.json
  frontend/quickcheck/src/App.jsx
  frontend/quickcheck/src/pages/resultPage/Page.jsx
  frontend/quickcheck/src/pages/resultPage/PieChart.jsx
  frontend/quickcheck/yarn.lock
Labels: frontend, Work In Progress

#156 UI: connect project manage page to backend
  frontend/quickcheck/src/pages/ProjectOverview.jsx
  frontend/quickcheck/src/pages/projectPage/AddAreaButton.jsx
  frontend/quickcheck/src/pages/projectPage/AddMemberButton.jsx
  frontend/quickcheck/src/pages/projectPage/MemberTable.jsx
  frontend/quickcheck/src/pages/projectPage/Page.jsx
  frontend/quickcheck/src/pages/projectPage/ProjectAreaList.jsx
  frontend/quickcheck/src/store.js
  frontend/quickcheck/src/utils/apiClient.js
  frontend/quickcheck/src/utils/const.js
  frontend/quickcheck/src/utils/notification.js
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/ProductAreaController.java
  service/src/main/java/com/tu/FinancialQuickCheck/Controller/UserController.java
Labels: frontend, Ready for Review

#201 UI/connect figure
  frontend/quickcheck/src/pages/productAreaPage/Page.jsx
  frontend/quickcheck/src/pages/ratingPage/Rating.jsx
  frontend/quickcheck/src/pages/resultPage/Figure.jsx
Labels: frontend, Ready for Review

#214 UI/annotate fig
  frontend/quickcheck/src/pages/resultPage/BubbleChart.jsx
  frontend/quickcheck/src/pages/resultPage/Figure.jsx
  frontend/quickcheck/src/pages/resultPage/Page.jsx
  frontend/quickcheck/src/pages/resultPage/PieChart.jsx
Labels: Ready for Review

#184 UI: show product variants in product area view
  frontend/quickcheck/src/pages/productAreaPage/AddProductButton.jsx
  frontend/quickcheck/src/pages/productAreaPage/Page.jsx
  frontend/quickcheck/src/pages/productAreaPage/ProductRow.jsx
  frontend/quickcheck/src/pages/productAreaPage/ProductVariant.jsx
  frontend/quickcheck/src/pages/ratingPage/Rating.jsx
  frontend/quickcheck/src/store.js
  frontend/quickcheck/src/styles/Input.js
Labels: frontend, Ready for Review
